{% load staticfiles %}
<div class="flex-col footer">
        <div class="flex-row align-center justify-center social-accounts">
            <a class="flex-row align-center justify-center social-btn">
                <i aria-hidden="true" class="fa fa-paper-plane"></i>
            </a>
            <a class="flex-row align-center justify-center social-btn">
                <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
            <a class="flex-row align-center justify-center social-btn">
                <i aria-hidden="true" class="fa fa-twitter"></i>
            </a>
            <a class="flex-row align-center justify-center social-btn">
                <i aria-hidden="true" class="fa fa-linkedin"></i>
            </a>
        </div>

        <ul class="flex-row align-center justify-center footer-part wrapped footer-menu">
            <li class="footer-menu-item">
                <a>خرید</a>
            </li>

            <li class="footer-menu-item">
                <a>رهن و اجاره</a>
            </li>

            <li class="footer-menu-item">
                <a>جستجو روی نقشه</a>
            </li>

            <li class="footer-menu-item">
                <a>قیمت خانه شما</a>
            </li>

            <li class="footer-menu-item">
                <a>اطلاعات بازار مسکن</a>
            </li>

            <li class="footer-menu-item">
                <a>ثبت رایگان آگهی</a>
            </li>

            <li class="footer-menu-item">
                <a>آژانس های املاک</a>
            </li>

            <li class="footer-menu-item">
                <a>سامانه مشاورین</a>
            </li>
        </ul>

        <div class="flex-row align-center justify-center footer-part certificate">
            <div class="flex-row align-center justify-center certificate-item">
                <img src="{% static 'kilidapp/Pics/logo.png' %}">
            </div>
            <div class="flex-row align-center justify-center certificate-item">
                <img src="{% static 'kilidapp/Pics/eanjoman 2.jpg' %}">
            </div>
            <div class="flex-row align-center justify-center certificate-item">
                <img src="{% static 'kilidapp/Pics/namadpng.png' %}">
            </div>
            <div class="flex-row align-center justify-center certificate-item">
                <img src="{% static 'kilidapp/Pics/ecunion-logo 2.png' %}">
            </div>
        </div>

        <ul class="flex-row align-center justify-center footer-part wrapped static-menu">
            <li class="static-menu-item">
                <a>درباره کیلید</a>
            </li>
            <li class="static-menu-item">
                <a>تماس با ما</a>
            </li>
            <li class="static-menu-item">
                <a>کیلید مگ</a>
            </li>
            <li class="static-menu-item">
                <a>اپلیکیشن موبایل</a>
            </li>
            <li class="static-menu-item">
                <a>نقشه سایت</a>
            </li>
            <li class="static-menu-item">
                <a>پروژه ها</a>
            </li>
        </ul>

        <a class="flex-row align-center justify-center footer-part footer-logo">
            <svg _ngcontent-c2="" xml:space="preserve" height="1.64829in" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality;
                    fill-rule:evenodd; clip-rule:evenodd" version="1.1" viewBox="0 0 6284 1648" width="6.2841in"
                xmlns="http://www.w3.org/2000/svg">
                <defs _ngcontent-c2="">
                    <style _ngcontent-c2="" type="text/css">
                        #footer .fil1 {
                            fill: white;
                        }

                        #footer .fil0 {
                            fill: white;
                            fill-rule: nonzero
                        }
                    </style>
                </defs>
                <g _ngcontent-c2="" id="footer">
                    <g _ngcontent-c2="" id="_2343665905616">
                        <path _ngcontent-c2="" class="fil0"
                            d="M6103 12l-1274 0c-100,0 -182,81 -182,181l0 759 588 0 0 -212c0,-53 42,-95 94,-95 52,0 94,42 94,95l0 212 197 0 0 -346c0,-52 42,-94 94,-94 52,0 94,42 94,94l0 346 67 0c52,0 94,42 94,94 0,52 -42,95 -94,95l-1228 0 0 326c0,100 82,181 182,181l1274 0c99,0 181,-81 181,-180l0 -1276c0,-99 -82,-180 -181,-180z">
                        </path>
                        <path _ngcontent-c2="" class="fil1"
                            d="M3587 1648c452,0 819,-367 819,-819 0,-451 -367,-819 -819,-819l-721 0c-64,0 -116,52 -116,116 0,65 52,117 116,117l721 0c323,0 586,263 586,586 0,324 -263,587 -586,587l-721 0c-64,0 -116,52 -116,116 0,64 52,116 116,116l721 0z">
                        </path>
                        <path _ngcontent-c2="" class="fil1"
                            d="M926 1648c-452,0 -819,-367 -819,-819 0,-451 367,-819 819,-819l196 0c64,0 116,52 116,116l0 1c0,64 -52,116 -116,116l-196 0c-323,0 -586,263 -586,586 0,324 263,587 586,587l196 0c64,0 116,52 116,116l0 0c0,64 -52,116 -116,116l-196 0z">
                        </path>
                        <path _ngcontent-c2="" class="fil1"
                            d="M2429 1648c65,0 117,-52 117,-116l0 -968c0,-65 -52,-117 -117,-117 -64,0 -116,52 -116,117l0 968c0,64 52,116 116,116z">
                        </path>
                        <path _ngcontent-c2="" class="fil1"
                            d="M1555 1648c64,0 116,-52 116,-116l0 -968c0,-65 -52,-117 -116,-117 -64,0 -116,52 -116,117l0 968c0,64 52,116 116,116z">
                        </path>
                        <path _ngcontent-c2="" class="fil1"
                            d="M116 1648c65,0 117,-52 117,-116l0 -1416c0,-64 -52,-116 -117,-116 -64,0 -116,52 -116,116l0 1416c0,64 52,116 116,116z">
                        </path>
                        <circle _ngcontent-c2="" class="fil1" cx="1555" cy="126" id="XMLID_681_" r="116"></circle>
                        <circle _ngcontent-c2="" class="fil1" cx="2429" cy="126" id="XMLID_681__0" r="116"></circle>
                        <path _ngcontent-c2="" class="fil1"
                            d="M1992 1648c64,0 116,-52 116,-116l0 -1403c0,-64 -52,-116 -116,-116 -64,0 -116,52 -116,116l0 1403c0,64 52,116 116,116z">
                        </path>
                        <path _ngcontent-c2="" class="fil1"
                            d="M2866 1210c65,0 117,-52 117,-116l0 -965c0,-64 -52,-116 -117,-116 -64,0 -116,52 -116,116l0 965c0,64 52,116 116,116z">
                        </path>
                    </g>
                </g>
            </svg>
        </a>

        <div class="flex-col align-center address-and-number">
            <p>تهران، خیابان وزرا، کوچه نهم، پلاک 26</p>
            <a href="tel:+982175071000">021-75071000</a>
        </div>

        <div class="flex-row justify-center top-nei">
            <div class="flex-row top-nei-part">
                <span class="title">خرید</span>
                <div class="flex-row wrapped nei-holder">
                    <a class="nei-single">تهرانپارس</a>
                    <a class="nei-single">پاسداران</a>
                    <a class="nei-single">پونک</a>
                    <a class="nei-single">شهرک غرب</a>
                    <a class="nei-single">بلوار فردوس</a>
                    <a class="nei-single">ستارخان</a>
                    <a class="nei-single">سعادت‌آباد</a>
                    <a class="nei-single">ونک</a>
                    <a class="nei-single">نواب</a>
                    <a class="nei-single">مرزداران</a>
                </div>
            </div>
            <div class="flex-row top-nei-part rent">
                <span class="title">اجاره</span>
                <div class="flex-row wrapped nei-holder">
                    <a class="nei-single">تهرانپارس</a>
                    <a class="nei-single">پاسداران</a>
                    <a class="nei-single">پونک</a>
                    <a class="nei-single">شهرک غرب</a>
                    <a class="nei-single">بلوار فردوس</a>
                    <a class="nei-single">ستارخان</a>
                    <a class="nei-single">سعادت‌آباد</a>
                    <a class="nei-single">ونک</a>
                    <a class="nei-single">نواب</a>
                    <a class="nei-single">مرزداران</a>
                </div>
            </div>
        </div>


        <div class="flex-row justify-center align-center copyright">
            <p>
                کلیه حقوق این سایت متعلق به شرکت کلان داده شهر فناوران می‌باشد
            </p>
            <div class="flex-row align-center tAndC">
                <a>حریم خصوصی</a>
                <a>شرایط استفاده</a>
            </div>
        </div>

    </div>